<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.plus.mysql.sims.mapper.CollegeMapper">

    <select id="findCollegeAndTeacher" resultMap="collegeAndTeacher">
        select * from sims_college c,sims_teacher t
        where c.COLLEGE_ID=t.COLLEGE_ID
    </select>

    <resultMap id="collegeAndTeacher" type="com.mybatis.plus.mysql.sims.entity.CollegeAndTeacher">
        <id property="collegeId" column="COLLEGE_ID"/>
        <result property="collegeName" column="COLLEGE_NAME"/>
        <association property="teacher" column="TEACHER_ID" javaType="com.mybatis.plus.mysql.sims.entity.Teacher"
                     resultMap="teacher"/>
    </resultMap>

    <resultMap id="teacher" type="com.mybatis.plus.mysql.sims.entity.Teacher">
        <id property="teacherId" column="TEACHER_ID"/>
        <result property="teacherName" column="TEACHER_NAME"/>
    </resultMap>
</mapper>
