<?xml version="1.0" encoding="UTF-8"?>
<!-- 实时查看logback运行状态日志 -->
<configuration debug="false">
    <!--定义日志文件的存储地址 不要使用相对路径-->
    <property name="LOG_HOME" value="${user.dir}/logs"/>
    <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符--> 
    <property name="ENCODER_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n"/>
    <!-- 归档日志文件保留天数 默认100 -->
    <property name="MAX_HISTORY" value="100"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>

    <!--    &lt;!&ndash; 日志文件-ERROR &ndash;&gt;-->
    <!--    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--        <file>${LOG_HOME}/error.log</file>-->
    <!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
    <!--            <level>ERROR</level>-->
    <!--            <onMatch>ACCEPT</onMatch>-->
    <!--            <onMismatch>DENY</onMismatch>-->
    <!--        </filter>-->
    <!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--            &lt;!&ndash;日志文件输出的文件名&ndash;&gt;-->
    <!--            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/error.log</fileNamePattern>-->
    <!--            <maxHistory>${MAX_HISTORY}</maxHistory>-->
    <!--        </rollingPolicy>-->
    <!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
    <!--            <pattern>${ENCODER_PATTERN}</pattern>-->
    <!--            <charset>UTF-8</charset>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <!--    &lt;!&ndash; 日志文件-WARN &ndash;&gt;-->
    <!--    <appender name="WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--        <file>${LOG_HOME}/warn.log</file>-->
    <!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
    <!--            <level>WARN</level>-->
    <!--            <onMatch>ACCEPT</onMatch>-->
    <!--            <onMismatch>DENY</onMismatch>-->
    <!--        </filter>-->
    <!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--            &lt;!&ndash;日志文件输出的文件名&ndash;&gt;-->
    <!--            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/warn.log</fileNamePattern>-->
    <!--            <maxHistory>${MAX_HISTORY}</maxHistory>-->
    <!--        </rollingPolicy>-->
    <!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
    <!--            <pattern>${ENCODER_PATTERN}</pattern>-->
    <!--            <charset>UTF-8</charset>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <!--    &lt;!&ndash; 日志文件-INFO &ndash;&gt;-->
    <!--    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--        <file>${LOG_HOME}/info.log</file>-->
    <!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
    <!--            <level>INFO</level>-->
    <!--            <onMatch>ACCEPT</onMatch>-->
    <!--            <onMismatch>DENY</onMismatch>-->
    <!--        </filter>-->
    <!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--            &lt;!&ndash;日志文件输出的文件名&ndash;&gt;-->
    <!--            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/info.log</fileNamePattern>-->
    <!--            <maxHistory>${MAX_HISTORY}</maxHistory>-->
    <!--        </rollingPolicy>-->
    <!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
    <!--            <pattern>${ENCODER_PATTERN}</pattern>-->
    <!--            <charset>UTF-8</charset>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <!--    &lt;!&ndash; 日志文件-DEBUG &ndash;&gt;-->
    <!--    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--        <file>${LOG_HOME}/debug.log</file>-->
    <!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
    <!--            <level>DEBUG</level>-->
    <!--            <onMatch>ACCEPT</onMatch>-->
    <!--            <onMismatch>DENY</onMismatch>-->
    <!--        </filter>-->
    <!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--            &lt;!&ndash;日志文件输出的文件名&ndash;&gt;-->
    <!--            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/debug.log</fileNamePattern>-->
    <!--            <maxHistory>${MAX_HISTORY}</maxHistory>-->
    <!--        </rollingPolicy>-->
    <!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
    <!--            <pattern>${ENCODER_PATTERN}</pattern>-->
    <!--            <charset>UTF-8</charset>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <!--    &lt;!&ndash; 日志文件-TRACE &ndash;&gt;-->
    <!--    <appender name="TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--        <file>${LOG_HOME}/trace.log</file>-->
    <!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
    <!--            <level>TRACE</level>-->
    <!--            <onMatch>ACCEPT</onMatch>-->
    <!--            <onMismatch>DENY</onMismatch>-->
    <!--        </filter>-->
    <!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--            &lt;!&ndash;日志文件输出的文件名&ndash;&gt;-->
    <!--            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/trace.log</fileNamePattern>-->
    <!--            <maxHistory>${MAX_HISTORY}</maxHistory>-->
    <!--        </rollingPolicy>-->
    <!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
    <!--            <pattern>${ENCODER_PATTERN}</pattern>-->
    <!--            <charset>UTF-8</charset>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <!--<logger name="java.sql.PreparedStatement" value="DEBUG" />-->
    <!--<logger name="java.sql.Connection" value="DEBUG" />-->
    <!--<logger name="java.sql.Statement" value="DEBUG" />-->
    <!--<logger name="com.ibatis" value="DEBUG" />-->
    <!--<logger name="com.ibatis.common.jdbc.SimpleDataSource" value="DEBUG" />-->
    <!--<logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG"/>-->
    <!--<logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" />-->

    <!-- 日志输出级别 TRACE < DEBUG < INFO < WARN < ERROR -->
    <root level="INFO">
        <!-- 控制台输出 -->
        <appender-ref ref="STDOUT"/>
        <!-- 日志文件输出 -->
        <!--        <appender-ref ref="ERROR"/>-->
        <!--        <appender-ref ref="WARN"/>-->
        <!--        <appender-ref ref="INFO"/>-->
        <!--        <appender-ref ref="DEBUG"/>-->
        <!--        <appender-ref ref="TRACE"/>-->
    </root>
</configuration>